body { 
  background-image: url(/background.jpg); 
  background-position: center center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-size: cover; 
  background-color: #464646;
}
.App {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  background-color: #fff;;
}
header {
  
}
main {
  height: 70vh;
}
footer {
   padding-bottom: 25px;
}
hr {
  width: 85%;
}
h2 {
  color:#57BF9E;
  margin: 15px;
  font-family: 'Lobster', cursive;
}

.phone {
  text-decoration: none;
  color:#57BF9E;
}

.social-icon {
  margin: 0 5px;
}

.sub-title{
  font-size: .8em;
  font-style: italic;
}

.logo {
  width: 70%;
  height: auto;
  margin: 0 auto;
}
 
.App-header {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); 
}

main {
  min-height: 50vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
